dist: trusty

language: python

python:
    - '3.6'

addons:
  apt:
    packages:
      - python3-pip

before_install:
  - pip3 install -U pytest pytest-cov pylint numpy scipy numba matplotlib

script:
  - cd test/ &&  pytest --cov sphericalquadpy

after_success:
  - bash <(curl -s https://codecov.io/bash)

